@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
}
.title{
    background-color: teal;
    color: aliceblue;
    /* inner spacing   */
    /* padding: 100px; */
    /* border: 5px solid #000; */
    /* outer spacing */
    /* margin: 10px; */
}

/* padding */
.title{
   /* padding-top: 20px; 
   padding-right: 40px; 
   padding-bottom: 50px; 
   padding-left: 70px;  */


   /* shorthand */

   /* for all sides */
   /* padding: 20px; */

/* for t/b  l/R */
   /* padding: 10px 40px; */

   /* t l/r b */
   /* padding: 10px 20px 40px; */


   /* t r b l */
    /* padding: 10px 30px 40px 60px; */


    margin: 10px;


/* 
✔
border: 2px solid black; */
    

/* ❌ */
/* border-width: 10px;
border-style: double;
border-color: tomato; */

/* border-top-width: 20px;
border-top-style: dashed;
border-top-color: chocolate; */
/* border-left-width: 10px;
border-left-style: double;
border-left-color: chartreuse; */



/* ✔ */
/* border-top: 2px dashed blue; */

}