

.parent{
    height:700px ;
    width: 700px;
    background-color: seagreen;
    position: relative;
}

/* .bx1{
    height: 100px;
    width: 100px;
    background-color: tomato;
    margin: 5px;
}
.bx2{
    height: 100px;
    width: 100px;
    background-color: crimson;
    margin: 5px;
}
.bx3{
    height: 100px;
    width: 100px;
    background-color: teal;
    margin: 5px;
} */


/* static / relative / absolute / fixed / sticky*/

/* t r b l */


.bx{
    font-size: 30px;
    color:#fff;
    height: 100px;
    width: 100px;
    margin: 5px;
}
.bx1{
 background-color:teal ; 


 /* document flow ❌ */


 /* position:fixed ;  
 bottom:0;
 right:0; */
}
.bx2{
 background-color: crimson; 
 /* position: static;  
 left:100px; */

/* position relative */
/* document flow ✔ */
/* position: relative;
left:200px;
top:100px; */


/* position fixed */
/* position: fixed; */

}
.bx3{


    /* position absolute > document flow ❌  */

    /* while using position absolute always give the parent a position relative */

    /* position: absolute;
right:100px;
bottom: 0; */



position: absolute;
right:50px;


    /* document flow ✔❌ */
    /* position: sticky;
    top:20px; */


 background-color: orange;   
}

