@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
}
.title{
    background-color: teal;
    color: aliceblue;
    /* inner spacing   */
    padding: 100px;
    border: 5px solid #000;
    /* outer spacing */
    margin: 10px;
}


/* padding
margin
border */